.container {
	display: flex;
	flex-direction: row;
}

.menu {
	display: flex;
	flex-direction: column;
	background-color: #C4C4C4;
	height: 95vh;
	width: 13%;
	margin-top: 5vh;
}

.menu-button {
	display: flex;
	height: 50px;
	width: 100%;
	text-align: left;
	background-color: #C4C4C4;
	text-indent: 30px;
	line-height: 50px;
}

.menu-button-active {
	display: flex;
	height: 50px;
	width: 100%;
	text-align: left;
	background-color: #E4E4E4;
	text-indent: 30px;
	line-height: 50px;
}

.menu-button-active:hover {
	cursor:pointer;
}

.menu-button:hover {
	cursor:pointer;
	background-color: #D4D4D4;
}

.content {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	margin-top: 5vh;
	background-color: #FFF;
	font-weight: bold;
	text-align: left;

}

.main{
    width: 100%;
}

.category-header {
	font-weight: bold;
	text-align: left;
	text-indent: 130px;
	line-height: 80px;
	height: 80px;
	font-size: 30px;
}

.field-text {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 55px;
}

.setting-name {
	font-weight: bold;
	text-align: left;
	text-indent: 30px;
	line-height: 55px;
	height: 55px;
	width: 200px;
}

.setting-current {
	font-weight: normal;
	text-align: left;
	line-height: 55px;
	height: 55px;
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.setting-padding {
	font-weight: normal;
	text-align: left;
	line-height: 55px;
	height: 55px;
	width: 40px;
}

.settings-input {
   	width: 100%;
  	padding: 12px 20px;
  	border: none;
}

.settings-input:hover {
	cursor: pointer;
}
