.chatWindow{
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.sidebar{
  height: 96vh;
  width: 13%;
}

.searchorcreate{
  background-color: #1b3faa;
  height: 6vh;
  line-height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactsList{
    background-color: #1b3faa;
    height: 90vh;
    width: 100%;
    overflow-y: auto;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: large;
    background-color: #1b3faa;
    border-bottom: 1px solid #163099;
    border-right: none;
    /* border-radius: 5px; */
    /* margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;  */
    height: 50px;
    text-indent: 30px;
    line-height: 50px;
    color: white;
}

.contact:hover{
    cursor: pointer;
}

.curChat{
    background-color: white;
    height: 96vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    border-left: solid black 2px;
    border-right: solid black 2px;
}

.inputField{
    width: 100%;
    background-color: white;
    color: white;
    display: flex;
    justify-content: center;
    height: 6vh;
    line-height: 6vh;
}

.inputField2{
  border-bottom: 1px solid #163099;
  width: 100%;
  background-color: #1b3faa;
  color: white;
  display: flex;
  justify-content: center;
  height: 100%;
  line-height: 6vh;

}


.messages{
    overflow-y: scroll;
    height: 85vh;
    display: flex;
    flex-direction: column-reverse;
    font-size: larger;
    background-color: white;
}

.currentChat{
  height: 6vh;
  background-color: #aaaaaa;
  color: black;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
}

.received{
    padding: 4px;
    margin-top: 10px;
    margin-left: 3%;
    background-color: #cccccc;
    max-width: 60%;
    border-radius: 5px;
    border: solid #e5e5e5 1px;
    text-indent: 20px;
    /*display: inline-block;*/
}

.sent{
    margin-left: 37%;
    margin-top: 10px;
    background-color: #1b3faa;
    max-width: 60%;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #163099;
    text-indent: 20px;
    color: white;
    /*display: inline-block;*/
}

.no-messages{
  max-width: 80%;
  margin-left: 10%;
  background-color: red;
  color: white;
  padding: 4px;
  border-radius: 5px;
  border: solid white 3px;
}


.searchbar-input {
    padding: 10px 24px;
    border-radius: 25px;
    width: 6vw;
    height: 0.6vh;
    vertical-align: middle;
}

.message-input {
    padding: 12px 20px;
    border-radius: 25px;
    width: 60vw;
    height: 2vh;
    vertical-align: middle;
}

.message-send {
    background-image: url('../../images/icon_send.svg');
    background-repeat: no-repeat;
    background-color: white;
    padding: 2vh 2vh;
    border: black;
    background-size: 3vh 3vh;
    background-position: 50% 50%;
    /* filter: invert(1); */
    height: 2vh;
    width: 2vh;
    vertical-align: middle;
}

.contactsList::-webkit-scrollbar {
  width: 10px;
}

.contactsList::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
.contactsList::-webkit-scrollbar-thumb {
  background: #888; 

}

.contactsList::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.messages::-webkit-scrollbar {
  width: 10px;
}

.messages::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
.messages::-webkit-scrollbar-thumb {
  background: #888; 
}

.messages::-webkit-scrollbar-thumb:hover {
  background: #555; 
}