
.login{
    height: 96vh;
    display: flex;
    margin-top: 4vh;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    background-color: #ffffff;
}


#loginlogo{
    height: 25vh;
    border: solid black 3px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.creators{
    background-color: #1b3faa;
    color: white;
    font-size: larger;
    padding: 20px;
    border-radius: 30px;
}