.login{
    height: 96vh;
    display: flex;
    margin-top: 4vh;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    color: black;
    background: white;
}

.loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color: white;
    box-shadow: 2px 3px 6px 4px #cccccc;
}
.contactlink {
	color: black;
}
.contactlink:link {
	color: black;
}
.contactlink:visited {
	color: black;
}

#loginlink {
	color: #0000EE;
    text-decoration: underline;
}

#loginlink:hover {
    color: rgb(56, 27, 138);
    text-decoration: underline;
}

/* #loginlink:visited {
	color: rgb(147, 28, 245);
    text-decoration: underline;
} */

.loginField {
    height: 3vh;
    width: 12vw;
    margin-top: 2vh;
    border-radius: 10px;
    border: 1px solid lightgrey;
    padding-left: 20px;
}

.loginButton {
    height: 3.1vh;
    width: 12.4vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
    border-radius: 10px;
    background: #1b3faa;
    color: white;
    border: none;
    transition: 0.3s;
}

.loginButton:hover {
    cursor: pointer;
    background: #032daa;
    transition: 0.3s;
}

.loginError {
    margin-top: 5px;
    color: red;
}

#loginlogo{
    height: 25vh;
    border: solid black 3px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#contact{
    padding-bottom: 10px; /*whatever the height of your footer is*/
    position: fixed;
    bottom: 0;

}