.login{
    height: 96vh;
    display: flex;
    margin-top: 4vh;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    background-color: #ffffff;
    color: white;
}

.loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b3faa;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.contactlink {
	color: black;
}
.contactlink:link {
	color: black;
}
.contactlink:visited {
	color: black;
}
.loginlink {
	color: white;
}

.loginlink:link {
	color: white;
}

.loginlink:visited {
	color: white;
}

#loginlogo{
    height: 25vh;
    border: solid black 3px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#contact{
    padding-bottom: 10px; /*whatever the height of your footer is*/
    position: fixed;
    bottom: 0;

}