
.searchpage {
    padding-top: 20px;
    height: 96vh;
    display: flex;
    margin-top: 4vh;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}


.search-input {
    padding: 12px 20px;
    border-radius: 25px;
    width: 40vw;
    height: 5vh;
    vertical-align: middle;
}

.search-button{
    background-image: url('../../images/icon_search.svg');
    background-repeat: no-repeat;
    background-color: white;
    padding: 2vh 2vh;
    border: black;
    background-size: 3vh 3vh;
    background-position: 50% 50%;
    /* filter: invert(1); */
    height: 2vh;
    width: 2vh;
    vertical-align: middle;
    opacity: 0.6;
    transition: 0.3s;
}

.search-button:hover{
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
}

.noresults {
    display: flex;
    margin-top: 2vh;
    width: 20vw;
    height: 8vh;
    border: 1px solid black;
    border-radius: 10px;
    background:  #1b3faa;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
}

.contactcard {
    display: flex;
    margin-top: 2vh;
    width: 20vw;
    height: 8vh;
    border: 1px solid black;
    border-radius: 10px;
    background:  #1b3faa;
}

.fullpage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#request-sent{
    position: fixed;
    margin-top: 20px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background: greenyellow;
    padding: 10px;
    left: 45%;
    top: 4%;
    visibility: hidden;
}

.contactname {
    margin-top: 1vh;
    height: 6vh;
    width: 14vw;
    margin-right: 1vw;
    margin-left: 1vw;
    line-height: 6vh;
    align-items: center;
    color: white;
    font-weight: bold;
    background:  #1b3faa;
}


.button-add {
    height: 6vh;
    margin-top: 1vh;
    width: 3vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    background-image: url('../../images/icon_add.svg');
    background-size: 2vh 2vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    filter: invert(1);
    cursor: pointer;
}

.button-add:hover{
    background-image: url('../../images/icon_add.svg');
    border: black solid 2px;
    border-radius: 10px;
}

.button-pending {
    height: 6vh;
    margin-top: 1vh;
    width: 3vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    background-image: url('../../images/icon_pending.svg');
    background-size: 2vh 2vh;
    background-position: 50% 90%;
    background-repeat: no-repeat;
    filter: invert(1);

}

.button-friend {
    height: 6vh;
    margin-top: 1vh;
    width: 3vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    background-image: url('../../images/icon_check.svg');
    background-size: 2vh 2vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    filter: invert(1);
}