.container {
	display: flex;
	flex-direction: row;
}

.menu {
	display: flex;
	flex-direction: column;
	background-color: #1b3faa;
	height: 96vh;
	width: 13%;
	margin-top: 4vh;
}

.menu-button {
	display: flex;
	height: 50px;
	width: 100%;
	text-align: left;
	background-color: #1b3faa;
	text-indent: 30px;
	line-height: 50px;
	text-decoration: none;
	color: white;
	border-bottom: 1px solid #163099;
	transition: 0.3s;
}

.menu-button-active {
	display: flex;
	height: 50px;
	width: 100%;
	text-align: left;
	background-color: #131f88;
	text-indent: 30px;
	line-height: 50px;
	text-decoration: none;
	color: white;
	border-bottom: 1px solid #163099;

}

.menu-button-active:hover {
	cursor:pointer;
}

.menu-button:hover {
	cursor:pointer;
	background: #0d1a88;
	transition: 0.3s;
}

.content {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	margin-top: 4vh;
	background-color: #FFF;
	font-weight: bold;
	text-align: left;

}

.main{
    width: 100%;
}

.category-header {
	font-weight: bold;
	text-align: left;
	text-indent: 130px;
	line-height: 80px;
	height: 80px;
	font-size: 30px;

}

.field-text {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 55px;
}

#reqpas{
	display: flex;
	flex-direction: row;
	justify-content: left;
	height: 25px;
	margin-left: 6.3vw; /*finely calculated */
	text-decoration: underline;
}

.setting-name {
	font-weight: bold;
	text-align: left;
	text-indent: 30px;
	line-height: 35px;
	height: 35px;
	width: 200px;
}

.setting-padding {
	font-weight: normal;
	text-align: left;
	line-height: 55px;
	height: 55px;
	width: 200px;
}

.settings-input {
   	width: 400px;
  	padding: 12px 20px;
  	border: solid lightgrey 1px;
  	background-image: url('../../images/icon_edit.svg');
  	background-size: 20px 20px;
  	background-position: 98% 50%;
  	background-repeat: no-repeat;
}

.settings-input:hover {
	cursor: pointer;
}

.logout-button {
	border-color: #444444;
	background: #EEEEEE;
	height: 5vh;
	width: 12vw;
}
.logout-button:hover {
	background: #DDDDDD;
	cursor: pointer;
}