

.signup{
    height: 96vh;
    display: flex;
    margin-top: 4vh;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    background-color: #ffffff;
}

.signupform{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b3faa;
    padding: 10px;
    border-radius: 10px;
    width: 35vh;
    color: white;
}

#loginlogo{
    height: 25vh;
    border: solid black 3px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#contact{
    padding-bottom: 10px; /*whatever the height of your footer is*/
    position: fixed;
    bottom: 0;
}
