.navigation {
  top: 0;
	position: fixed;
	display: flex;
	flex-row: row wrap;
	justify-content: flex-end;
	background: black;
	width: 100%;
	height: 5vh;
}

.navButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: indianred;
  border: 2px black solid;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.navButton:hover{
  cursor: pointer;
  background-color: rgb(128, 47, 47);
  color: white;
}